.above-fold {
    position: relative;
    height: 100dvh;
    width: 100%;
    min-height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.fold-content {
    h1 {
        font-size: 3rem;
        margin: 1.5rem;
        text-wrap: balance;
    }

    p {
        font-size: 1rem;
        margin: 1rem 1rem 10%;
        text-wrap: balance;
    }

    a {
        color: var(--rosewater);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    @media (min-width: 768px) {
        & h1 {
            font-size: 6rem;
        }

        & p {
            font-size: 2rem;
        }
    }
}

a[target="_blank"]::after {
    content: "";

    width: 0.75em;
    height: 0.75em;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    display: inline-flex;

    mask-size: cover;
    mask-image: url(../assets/external.svg);
    background-color: var(--rosewater-trans);
}

#decorative-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    fill: var(--rosewater) !important;
    margin: 0;
    padding: 0;
    transition: fill 0.5s ease-in-out;
    /*will-change: fill;*/
}

@media (prefers-color-scheme: dark) {
    .inverted #decorative-wave {
        fill: var(--background) !important;
        filter: drop-shadow(0 0 2em var(--shadow));
    }
}

#bg-date {
    font-size: 30vw;
    color: var(--text-color);
    white-space: nowrap;

    transform: translateY(85%);
    position: absolute;
    bottom: 0;
    left: -5%;
    opacity: 0.1;
    z-index: -2;
}