#scroll-indicator {
    all: unset;

    width: auto;
    height: 3em;
    padding: 0 0.5em;
    border-radius: 1em;
    aspect-ratio: 1;

    position: absolute;
    bottom: 30vw;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background);
    color: var(--text-color);
    box-shadow: var(--shadow) 0 0 0.5em 0.1em;
    outline: var(--surface-trans) 0.2em solid;

    transition: opacity 0.5s ease-in-out;
}

#scroll-indicator span {
    padding: 0.5em 0.25em 0.5em 0.5em;
    font-size: 1em;
    font-weight: bolder;
}

@media (min-width: 768px) {
    #scroll-indicator {
        bottom: 5%;
    }
}

@media (max-height: 768px) {
    #scroll-indicator {
        display: none;
    }
}

#scroll-indicator::after {
    content: "";

    width: 1.5em;
    height: 1.5em;
    display: inline-block;

    mask-size: cover;
    mask-image: url(../assets/scroll.svg);
    background-color: var(--text-color);
}